.mainGrid {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;

  .filtersGrid {
    display: flex;
    align-items: center;
    position: relative;
    .filters {
      display: flex;
      .filterWrapper {
        margin-right: 15px;
        cursor: pointer;
      }
    }
    .sortTitle{
      position: absolute;
      left:-150px;
      top: 50%;
      transform:translate(0,-50%);
      font-size: 14px;
      margin-right: 15px;
      color: white;
    }

  }

  .searchGrid {
    display: flex;
    flex: 1;
    width: 100%;
    margin-bottom: 15px;
    .search {
      outline: none;
      border: none;
      padding: 3px;
      padding-left:15px;
      border-radius: 3px;
      width: 100%;
      height: 40px;

    }
  }

}