.mainGrid {
  overflow: auto;
  background-color: black;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  color: white;
  flex-direction: column;
  flex:1;
  width: 100%;
  padding: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  .card {
    width: 400px;
    height: auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    .authFieldWrapper {
      display: flex;
      flex: 1;
      margin: 7px;
      
      }
  
    .registerWrapper {
      margin: 7px;
      display: flex;
      color: black;
      position: absolute;
      left: 50%;
      width: 200px;
      transform: translate(-50%,0);
      bottom: -40px;

      .link {
        color: #006cbc;
        text-decoration: none;
        margin-right: 5px;

        &:hover {
          text-decoration: underline;

        }
      }
    }

    .buttonWrapper {
      margin: 16px 0 0 0;

    }

    .errorLine {
      height: 20px;
      color: red;
      font-size: 11px;
      display: flex;
      align-items: center;
    }

  }


}