.wrapper {
    display: flex;
    background-color: rgba(227,245,171, 0.3);
    padding: 4px;
    border-radius: 4px;
    border: 1px solid rgba(23,72,36, 0.3);
    height: 28px;
    align-items: center;

    &.hover {
        background-color: rgba(227,245,171, 0.9);
        &.active {
            cursor: pointer;
    
        }
    }
    &.active {
        cursor: pointer;
    }
    &.selected {
        border: 1px solid rgba(23,72,36, 1);
        background-color: rgba(227,245,171, 0.8);
    }
    .img {
        width: 24px;
        height: 24px;
        color: #063a16;
    }
    .name {
        margin-left: 8px;
        font-size: 12px;
        color: #063a16;
    }
}